@media screen and (max-width: 550px) {
	#top-bar {
		flex-wrap: wrap;
	}
	h1 {
		flex: 1 1 100%;
	}
	#tab-bar {
		flex: 1 1 100%;
	}
}

/* mobile devices */
@media screen and (max-device-width: 768px) {

	:root {
		--header-size: 100px;
		--default-size: 36px;
		--icon-size: 48px;
		--normal-size: 56px;
		--bigger-size: 72px;
		--smaller-size: 48px;
		--text-size: 38px;
		--special-size: 42px;
	}

	#feuilles-de-chene {
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 75vh;
		min-height: 0px;
		padding: 32px 48px 48px 48px;
	}
	#top-bar {
		width: 100%;
		max-width: 100%;
		flex-wrap: wrap;
		gap: 64px;
	}
	h1 {
		flex: 1 1 100%;
	}
	#tab-bar {
		flex: 1 1 100%;
		gap: 20px;
	}
	.tab {
		padding: 20px 32px;
		font-size: 40px;
	}
	.tab-active {
		box-shadow: 0px 2px 0px var(--background);
		z-index: 16;
	}
	#score-bar, #record-bar {
		gap: 16px;
	}
	#suggested-databases {
		gap: 32px;
	}
	.suggested-database {
		gap: 6px;
		flex-wrap: wrap;
	}
	#suggested-database-name {
		flex: 1 1 100%;
	}
	#suggested-database-author {
		flex: 1 1 100%;
		text-align: right;
	}
	.game-mode-name {
		width: 200px;
	}	
	.color-theme {
		padding: 12px 24px;
		width: 200px;
	}
	.color-name {
		width: 250px;
	}
	.color-picker {
		margin-right: 0px;
	}
	.option-checkbox {
		width: 30px;
		height: 30px;
	}
}
